/* Element Selectors */
body {
  font-family: 'PT Serif', serif;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
  url("../img/britain.jpg");
  background-size: cover;
  text-shadow: 3px 3px 10px rgba(0,0,0,1.0);
}

h1 {
  font-size: 2.5rem;
}

/* Class Selectors */
.answers {
  padding: 3px;
}

.author {
  color: inherit;
}

.correct {
  background-color: #00ff00;
}

.img-control {
  max-width: 60px;
  position: relative;
  left: 10px;
  bottom: 22px;
}

.incorrect {
  background-color:#cf142b;
  color: #fff;
}

.reveal {
  display: block;
}

.questions {
  padding-bottom: 10px;
  max-width: 400px;
}

.quote,
#author {
  display: none;
}

/* ID Selectors */
#questionsContainer {
  color: #fff;
  padding: 20px; 
  display: inline-block;
  margin-top: -30px;
}

#quoteContainer {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
}

#reload {
  width: 150px;
  color: #fff;
  cursor: pointer;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  background: #cf142b;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

#results {
  width: 150px;
  color: #fff;
  cursor: pointer;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  background: #00247d;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

#score {
  display: inline;
  padding-left: 30px;
}

#summary {
  margin: 0;
} 

/* Pseudo Selectors */
#results:hover {
  background: #cf142b;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

#results:disabled {
    display: none;
  }

#reload:hover {
  background: #00247d;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

  /* Media Queries */
@media (min-width: 375px){
  .img-control {
    max-width: 80px;
    left: 30px;
  }
}

@media (min-width: 411px){
  .img-control {
    max-width: 90px;
    left: 45px;
  }
}

@media (min-width: 444px){
  .img-control {
    max-width: 90px;
    top: 20px;
    left: 0;
  }
}

@media (min-width: 534px){
  .img-control {
    max-width: 80px;
    left: 25px;
    top: 10px;
  }
}

@media (min-width: 444px){
  .questions {
    max-width: 900px;
  }
}

@media (min-width: 444px) and (max-width: 1192px){
  body {
    text-align: center;
  }
  #score {
    padding-left: 0;
    position: relative;
    left: 30px;
  }
  .realign {
    position: relative;
    left: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1192px){
  body {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .img-control {
    max-width: 100px;
    left: 25px;
    top: 10px;
  }

  #reload,
  #results {
    width: 175px;
    height: 33px;
    font-size: 0.9rem;
  }
}

@media (min-width: 1192px){
  .quote {
    display: block;
    position: relative;
  }
  #reload,
  #results,
  #score,
  #summary,
  #author {
    position: relative;
  }
}

@media (min-width: 1192px) and (max-width: 1390px){
  #reload,
  #results,
  #score,
  #summary,
  #author {
    left: 850px;
    top: -235px;
  }

  .questions {
    min-width: 650px;
    max-width: 700px;
  }

  #reload,
  #results {
    width: 200px;
    height: 37px;
    font-size: 1rem;
  }

  body {
    font-size: 1.15rem;
  }

  .quote {
    font-size: 4rem;
    top: 20px;
  }
}

@media (min-width: 1390px) and (max-width: 1790px){
  #reload,
  #results,
  #score,
  #summary,
  #author {
    left: 850px;
    top: -235px;
  }

  .questions {
    min-width: 700px;
    max-width: 800px;
  }

  #reload {
    margin-top: 10px;
  }

  #reload,
  #results {
    width: 240px;
    height: 45px;
    font-size: 1.2rem;
  }

  body {
    font-size: 1.2rem;
  }

  .quote {
    font-size: 5rem;
    top: 20px;
  }
}

@media (min-width: 1790px){
  #reload,
  #results,
  #score,
  #summary,
  #author {
    left: 1150px;
    top: -350px;
  }

  .questions {
    min-width: 800px;
    max-width: 900px;
  }

  #reload {
    margin-top: 12px;
  }

  #reload,
  #results {
    width: 288px;
    height: 54px;
    font-size: 1.5rem;
  }

  body {
    font-size: 1.5rem;
  }

  .quote {
    font-size: 6rem;
    top: 20px;
    left: 200px;
  }
}










