body {
  font-family: 'PT Serif', serif;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
  url("../img/britain.jpg");
  background-size: cover;
  text-shadow: 3px 3px 10px rgba(0,0,0,1.0);
}

#questionsContainer {
  color: #fff;
  padding: 20px; 
  display: inline-block;
  margin-top: -30px;
}

.img-control {
  max-width: 70px;
  position: relative;
  left: 20px;
  bottom: 22px;
}

.questions {
  padding-bottom: 10px;
  max-width: 400px;
}

.answers {
  padding: 4px;
}

.correct {
  background-color: rgb(35, 189, 35);
}

.incorrect {
  background-color: red;
  color: #fff;
}

#score {
  display: inline;
  padding-left: 30px;
}

#quoteContainer {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;

}

h1 {
  font-size: 2.5rem;
}

#summary {
  margin: 0;
} 

.quote {
  display: none;
}

#results {
  width: 150px;
  color: #fff;
  cursor: pointer;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  background: #00247d;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}
#results:hover {
  background: #cf142b;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

  #results:disabled {
    display: none;
  }


#reload {
  width: 150px;
  color: #fff;
  cursor: pointer;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  background: #cf142b;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

#reload:hover {
  background: #00247d;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

@media (min-width: 375px){
  .img-control {
    max-width: 80px;
    left: 30px;
  }
}

@media (min-width: 411px){
  .img-control {
    max-width: 90px;
    left: 45px;
  }
}

@media (min-width: 444px){
  .img-control {
    max-width: 90px;
    top: 20px;
    left: 0;
  }
}

@media (min-width: 534px){
  .img-control {
    max-width: 80px;
    left: 25px;
    top: 10px;
  }
}

@media (min-width: 444px){
  .questions {
    max-width: 900px;
  }
}

@media (min-width: 444px) and (max-width: 1192px){
  body {
    text-align: center;
  }
  #score {
    padding-left: 0;
    position: relative;
    left: 30px;
  }
  .realign {
    position: relative;
    left: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1192px){
  body {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .img-control {
    max-width: 100px;
    left: 25px;
    top: 10px;
  }

  #reload,
  #results {
    width: 160px;
    height: 30px;
  }
}

@media (min-width: 1192px){
  #reload,
  #results,
  #score,
  #summary {
    position: relative;
    left: 950px;
    top: -450px;
  }

  body {
    font-size: 1.2rem;
  }

  .quote {
    display: block;
    font-size: 2rem;
  }
}

/* @media (min-width: 1192px){

  .quote {
    display: block;
    font-size: 3rem;
    position: relative;
    left: 10px;
    top: 270px;
  }
} */









